
*.class
*.class
*.class
target/test-classes/cs5031/group/one/thelibrary/TheLibraryApplicationTests.class
target/classes/cs5031/group/one/thelibrary/TheLibraryApplication.class
/target/*
.idea/dataSources.xml
.idea/dataSources.xml
.idea/sqldialects.xml
.idea/misc.xml
*.xml

.vscode/
.idea/
